<%- include('../layouts/user/header',{title:"user-profile"}) %>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>User Profile</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">User<span class="lnr lnr-arrow-right"></span></a>
                    <a href="profile.html">Profile</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
       
<div class="container_fluid mt-5 mb-5 mr-5 ml-5">
    <div class="row">      
        <%- include('../layouts/userProfile/profileSidebar') %>
       
        <div class="col-md-8 ml-5 ">
            <form action="/user/profile/<%= userId %>" method="post" enctype="multipart/form-data" onsubmit="return validateUser()">
                        <h2>Profile Details</h2>
                        <span id="messageShow" class="bg-danger text-white"></span>

                        <% if(successMessage && successMessage.length >0) { %>
                            <div class="alert alert-success"><%= successMessage %></div>
                        <% } %>
                        <div class="profile-image-container">
                            <!-- Profile Image -->
                            
                            <img src="/images/userProfile/<%= userData.profileImage %>" alt="profile-image" id="profile-image"  class="profile-image">
                        </div>
                        <input type="file" name="profileImage"  onchange="previewImage(event)">
                        <br>
                        <!-- <button type="button" class="btn btn-link" id="edit-image-btn">Edit Image</button>           -->
                                
                        <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" value="<%= userData.name %>">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" value="<%= userData.email %>">
                            </div>

                            <div class="form-group ">
                            <label >Your Gender</label>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="male" <%= userData.gender === 'male' ? 'checked' : '' %> >
                                    <label class="form-check-label" for="male">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="female" <%= userData.gender === 'female' ? 'checked' : '' %> >
                                    <label class="form-check-label" for="female">Female</label>
                                </div>
                            </div>
                        </div>
                            
                            <div class="form-group">
                                <label for="password">Mobile Number</label>
                                <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Enter mobile number" value="<%= userData.mobileNumber %>" >
                            </div>
                            <button type="submit" class="btn btn-primary">Save Changes</button>
           
                        </form>

                   
        </div>
    </div>
</div>


<style>
    .profile-image-container {
position: relative;
width: 150px; /* Adjust the width as needed */
height: 150px; /* Adjust the height as needed */
overflow: hidden;
border-radius: 50%; /* Makes the image round */
}

.profile-image {
width: 100%;
height: 100%;
object-fit: cover; /* Ensures the image covers the entire container */
/* background-color: rgba(193, 199, 203, 0.412); */
}
</style>


<script>
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function() {
            const output = document.getElementById('profile-image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include('../layouts/user/footer') %>